services:
  api:
    build:
        context: .
        dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - ./.env
    ports:
      - "8080:8080"
